@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="container">
	<div class="row">
		<div class="col-md-7">

			<div class="text-center">
				<h4>Consulta de Usuario</h4>
			</div>

			<!--filtro-->
			<form>
				<div class="row form-group">


					<h5>Filtrar por Fecha &nbsp;  </h5>
					&nbsp;
					<input type="checkbox">
				</div>


			</form>


			<!--desde-->
			<form>
				<label for="desde" class="col-form-label">Desde:</label>
				<input type="date" name="fecha" value="" id="fecha">
				<label for="hasta" class="col-form-label">Hasta:</label>
				<input type="date" name="fecha" value="" id="fecha">

			</form>

			<!--Filtro-->
			<form>
				<label for="desde" class="col-form-label">Filtro:</label>
				<select id="Criterio">
					<option> Id</option>
					<option> Nombre</option>
					<option> Usuario</option>
					<option> Correo</option>

				</select>
				<label for="desde" class="col-form-label">Criterio:</label>
				<input type="text" name="nombre" value="" id="nombre" class="form-check-inline" />

				<button type="button" class="btn btn-outline-primary">Buscar</button>
			</form>


			<!--Fecha-->
			<hr class="bg-info">

			<form>
				<div class="table-responsive">
					<table border="0" bordercolor="#808080" cellpadding="3" class="form-check-inline">
						<tr>
							<th>Id  </th>
							<th>Nombre  </th>
							<th>Usuario   </th>
							<th>Correo  </th>
							<th>Nivel Usuario  </th>
							<th>Fecha de Ingreso  </th>


						</tr>
						<tr>
							<td>1</td>
							<td>Juan Perez</td>
							<td>JPerez</td>
							<td>jperez@gmail.com</td>
							<td>administrador</td>
							<td>01/03 /2020 </td>
						</tr>
						<tr>
							<td>2</td>
							<td>Ramon Martinez</td>
							<td>rMartinez01</td>
							<td>rmartinez01@gmail.com</td>
							<td>usuario</td>
							<td>05/02 /2020</td>
						</tr>
					</table>
				</div>
			</form>

			<!--Botones-->

			<div class="panel">
				<div class="text-center">
					<div class="form-group">
						<button type="button" class="btn btn-outline-success">Imprimir</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
