@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}
<div class="container">
	<div class="row">
		<div class="col-md-7">
			<h4 class="text-center">Registro de Usuario</h4>
			<hr class="bg-info">

			<!--Id-->
			<form>
				<div class="row form-group">
					<label for="id" class="col-form-label col-md-4">Id:</label>
					<div class="col-md-8">
						<input type="number" class="form-control">
					</div>
				</div>
			</form>

			<!--Nombre-->
			<form>
				<div class="row form-group">
					<label for="nombre" class="col-form-label col-md-4">Nombre:</label>
					<div class="col-md-8">
						<input type="text" placeholder="Nombres" pattern="[A-Za-z]{2,}" title="Tu nombre Correcto" tabindex="1" required="required" class="form-control">
					</div>
				</div>
			</form>

			<!--Correo-->

			<form>
				<div class="row form-group">
					<label for="correo" class="col-form-label col-md-4">Correo:</label>
					<div class="col-md-8">
					<input type="text" placeholder="Email" name="correo" value="" id="correo" class="form-control" required/>
					</div>
				</div>
			</form>

			<!--Nivel Usuario-->

			<form>
				<div class="row form-group">
					<label for="Nivel de Usuario" class="col-md-4 control-label input-sm" style="font-size:medium ">Nivel de Usuario:</label>
					<div class="col-md-8">
						<select name="Nivel" class="form-control">

							<option>Usuario</option>
							<option>Administrador</option>

						</select>
					</div>
				</div>
			</form>

			<!--Usuario-->

			<form>
				<div class="row form-group">
					<label for="usuario" class="col-form-label col-md-4">Usuario:</label>
					<div class="col-md-8">
						<input type="text" placeholder="Usuario" name="usuario" value="" id="usuario" class="form-control" required/>
					</div>
				</div>
			</form>

			<!--contraseña-->

			<form>
				<div class="row form-group">
					<label for="contraseña" class="col-form-label col-md-4">Contraseña:</label>
					<div class="col-md-8">
						<input type="password" placeholder="" name="contraseña" value="" id="contraseña" class="form-control" required/>
					</div>
				</div>
			</form>

			<!--Confirmar contraseña-->

			<form>
				<div class="row form-group">
					<label for="confcontraseña" class="col-form-label col-md-4">Confirmar Contraseña:</label>
					<div class="col-md-8">
						<input type="password" placeholder="" name="confcontraseña" value="" id="confcontraseña" class="form-control" required/>
					</div>
				</div>
			</form>

			<!--Fecha-->

			<form>
				<div class="row form-group">
					<label for="fecha" class="col-form-label col-md-4">Fecha:</label>
					<div class="col-md-8">
						<input type="date" name="fecha" value="" id="fecha" class="form-control">
					</div>
				</div>
			</form>

			<!--Botones-->

			<div class="panel">
				<div class="text-center">
					<div class="form-group">
						<button type="button" class="btn btn-outline-primary">Nuevo</button>
						<button type="button" class="btn btn-outline-success">Guardar</button>
						<button type="button" class="btn btn-outline-warning">Eliminar</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>